footer  {
border-top: 2px solid gold;
color: black;
 position: absolute;
 bottom: 0px;

}

#newsletter {
  float: right;
}

#homelink {
  font-family: 'Mr Dafoe', cursive;
  font-size: 60px;
}
#content {
  text-align: center;
}
#article {

  padding-top: 20px;
  padding-left: 30px;
  border-bottom: 1px solid black;
}
nav {
  border: 2px solid black;
  background-color: #1a1a1a;
  color: white;
  margin-top: -40px;
  max-height: 60px;

}
.ads {
 border: 1px solid black;
 float: right;
 height: 100px;
 width: 100px;

}


/*main {
  background: #black;
  display: flex;;
  justify-content: space-around;
  flex-direction: column;

}

section {
  border-bottom: 2px solid black;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}*/

a{
  color: black;
  font-family: system-ui;
  font-size: 20px;
}

textarea {
  min-height: 20em
}


input[type="submit"], .button {
  outline: none;
  background: #3399ff;
  border: 2px solid black;
  text-align: center;
  font-size: 1em;
  color: white;
  padding: 1em 2em

}

footer  {
border-top: 2px solid gold;
color: black;
 position: absolute;
 bottom: 0px;
 width: 100%;
}
